<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CardGameSims - {{title}}</title>
    <link rel="stylesheet" href="/css/pure-min.css"/>
    <link rel="stylesheet" href="/css/grids-responsive-min.css"/>
    <!-- Game Specific Styles -->
    {{#if hasStyles}}
    {{#each styles}}
    {{/if}}
</head>