<div class="pure-menu pure-menu-horizontal bg-color-primary-0">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a class="pure-menu-link color-secondary-2-0 bold" href="/">Home</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link color-secondary-2-0 bold" href="/war">War</a></li>
    </ul>
</div>