<nav class="pure-menu pure-menu-horizontal bg-gray-light">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a class="pure-menu-link fg-black" href="/">Home</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link fg-black" href="/war">War</a></li>
    </ul>
</nav>